 <style>
    .divTable {
        display: table;
        width: 100%;
        background-color: black;
        border: 1px solid black;
        border-spacing: 1px; 
       
    }
    .divRow
    {
       display:table-row;
        height:100px;
        border:1px solid black;

    }
    .divCell
    {
        float:left;
        display:table-column;
        width:274px;
        background-color:black;
    }
    body{
        background-color:black;
    }
    .text-color{
        text-decoration-color:darkgray;
        color:gray;
        text-decoration-line:none;
        font-size:18px;
        margin-top:13px;
        
    }
    
</style>

<title>DXC Happenings!</title>

<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

<div class="navbar navbar-inverse navbar-fixed-top" style="height:50px">
    <div class="container">
        <div class="navbar-header" style="display:inline-flex;">
            <a href="~/Home/Index"> <img src="~/Images/download.png" style="width:60px;height:50px; margin-left:50px;"></a>
            &nbsp;
            @Html.ActionLink("HAPPENINGS!", "Index", "Home", new { area = "" }, new { @class = "text-color" })
        </div>
        <div class="navbar-collapse collapse" style="display:inline-flex">
            <ul class="nav navbar-nav">
                <li align="left" class="dropdown" style="margin-left:750px;">
                    <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("User", "Login", "Home")</li>

                        <li>@Html.ActionLink("Admin", "LoginAdmin", "Home")</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<body>
    <div class="divTable" >
        <div class="divRow" >
            <div id="imageCarousel" class="carousel slide" data-interval="2000"
                 data-ride="carousel" data-pause="hover" data-wrap="true" >
                <ol class="carousel-indicators">
                    <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#imageCarousel" data-slide-to="1"></li>
                    <li data-target="#imageCarousel" data-slide-to="2"></li>
                    <li data-target="#imageCarousel" data-slide-to="3"></li>
                    <li data-target="#imageCarousel" data-slide-to="4"></li>
                    <li data-target="#imageCarousel" data-slide-to="5"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Images/images2.png" class="img-responsive" style="width:100%;height:350px">
                        <div class="carousel-caption">
                            <h3></h3>
                            <p style="font-weight: bold; color:yellow;font-size:small"></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Images/basketball.jpg" class="img-responsive" style="width:100%;height:350px">
                        <div class="carousel-caption">
                            <h3></h3>
                            <p style="font-weight: bold; color:yellow;font-size:small"></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Images/table-tennis-design-entity-1320x720.jpg" class="img-responsive" style="width:100%;height:350px">
                        <div class="carousel-caption">
                            <h3></h3>
                            <p style="font-weight: bold; color:yellow;font-size:small"></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Images/c806e1923c2d7dee2a3bcfdc4fef0404.jpg" class="img-responsive" style="width:100%;height:350px">
                        <div class="carousel-caption">
                            <h3></h3>
                            <p style="font-weight: bold; color:yellow;font-size:small"></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Images/bg-education.jpg" class="img-responsive" style="width:100%;height:350px">
                        <div class="carousel-caption">
                            <h3></h3>
                            <p style="font-weight: bold; color:yellow;font-size:small"></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Images/680-savitri_chicago-1449073029.jpg" class="img-responsive" style="width:100%;height:350px">
                        <div class="carousel-caption">
                            <h3></h3>
                            <p style="font-weight: bold; color:yellow;font-size:small"></p>
                        </div>
                    </div>
                </div>
                <a href="#imageCarousel" class="carousel-control left" data-slide="prev">
                    <span class="glyphicon glyphicon-hand-left"></span>
                </a>
                <a href="#imageCarousel" class="carousel-control right" data-slide="next">
                    <span class="glyphicon glyphicon-hand-right"></span>
                </a>
            </div>
        </div>
        <div class="divRow">
            <div class="divCell">
            <a href="">
                <img src="~/Images/911396_2-fantasy-cricket-hd-wallpapers_1930x1287_h.jpg" style="width:273px;height:350px" />
            </a>
            </div>
            <div class="divCell">
            <a href=""><img src="~/Images/tt.png" style="width:273px;height:350px" />
                </a>
            </div>
            <div class="divCell">
            <a href=""><img src="~/Images/pngtree-world-cup-soccer-match-poster-image_192903.jpg" style="width:273px;height:350px" />
                </a>
            </div>
            <div class="divCell">
            <a href=""><img src="~/Images/f73a8acac0e753aa9e1f4c321b54c21f--baskets-basketball.jpg" style="width:273px;height:350px" />
                </a>
            </div>
            <div class="divCell">
            <a href=""><img src="~/Images/DanceSilhouette1.jpg" style="width:273px;height:350px" />
                </a>
            </div>

        </div>
    </div>
</body>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script src="bootstrap/js/bootstrap.min.js"></script>

