<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            @Html.ActionLink("DXC HAPPENINGS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>

        </div>
    </div>
    
</div>

 


<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">
    <h4>Session Logged out!</h4>
</body>


