@model Project.Models.Sport_tournamentlist
@{
    ViewBag.Title = "SPORTS";
}

<h2>Index</h2>

<div class="dropdown">
    @Html.DropDownList("CategoryID",  ViewBag.events as SelectList, "select Event")
</div>

<div id="divPartialView">

</div>


<script src="~/Scripts/jquery-3.3.1.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#CategoryID").change(function () {
            var Cid = document.getElementById("CategoryID").value;

            // alert(Cid)

            $.ajax({
                type: "post",
                url: "/CULTURALS/_mypartial?Cid=" + Cid,
                contentType: "html",
                success: function (response) {
                 
                    $("#divPartialView").empty();
                    $("#divPartialView").append(response)
                }
            })
        })
    })

</script>

